<p id="notice"><%= notice %></p>

<h1>Products</h1>
<% @products.each do |product| %>
  <p><%= product.name %> | <%= number_to_currency product.price %></p>
  <%= link_to add_item_cart_path(product_id: product.id), class: "btn btn-primary", method: :put do %>
    <%= fa_icon "shopping-cart", text: "Add to Cart" %>
  <% end %>
<% end %>

<hr>

<%= link_to 'New Product', new_product_path %>
