<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeShopV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        Hi, <%= current_user.name %>! | <%= link_to "Log Out", "/logout" %>
        <h3 class="cart-text"><%= render 'layouts/cart_text' %></h3>
      <% else %>
        <%= link_to "Log In", "/login" %> | <%= link_to "Sign up", "/signup" %>
      <% end %>
      <hr>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
